:root {
    --main-text-color: #EDEDED;
}

* {
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

li {
    list-style: none;
}

body {
    background: url(images/main-background.jpg);
    color: var(--main-text-color);
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .4px;
    display: flex;
    width: 100%;
    justify-content: center;
}

main {
    background: rgb(0 0 0 / 70%);
    border-radius: 2rem;
    padding: 100px;
    height: 2000px;
    margin: 100px;
    width: 70%;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "greet greet portrait" ". . .";
}

.greet>span {
    font-size: 4rem;
}

.greet {
    width: fit-content;
    grid-area: greet;
    align-self: center;
    margin-left: 50px;
}

.portrait {
    width: 400px;
    border-radius: 50%;
    border: 2px solid rgb(0, 122, 0);
    grid-area: portrait;
    place-self: center;
    opacity: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: rgb(255, 255, 255);
}

.fade-in {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

.slide-right {
    position: relative;
    animation: slide-right 500ms ease-in-out forwards;
}

@keyframes slide-right {
    from {
        left: 0px;
    }
    to {
        left: 250px;
    }
}

.slide-left {
    position: relative;
    animation: slide-left 500ms ease-in-out forwards;
}

@keyframes slide-left {
    from {
        right: 0px;
    }
    to {
        right: 250px;
    }
}

@media only screen and (max-width: 2400px) {
    main {
        width: 80%;
    }
}
@media only screen and (max-width: 2050px) {
    main {
        margin: 75px;
        width: 90%;
    }
}