:root {
    --main-text-color: #EDEDED;
    --project-transform: 20px;
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

li {
    list-style: none;
}

body {
    background: url(images/main-background.jpg);
    color: var(--main-text-color);
    font-family: 'Syne Mono', monospace;
    letter-spacing: .4px;
    display: flex;
    width: 100%;
    justify-content: center;
}

main {
    background: rgb(0 0 0 / 70%);
    padding: 100px;
    padding-bottom: 75px !important;
    width: 1920px;
    min-height: 100vh;
}

.landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greet greet portrait" "navigation navigation navigation";
}

.greet>span {
    font-size: 55px;
    transition: font-size 400ms ease-in-out;
}

.greet.big>span {
    font-size: 80px;
}

.greet {
    width: fit-content;
    grid-area: greet;
    align-self: center;
    margin: 40px 0;
    padding-left: 30px;
}

.portrait {
    width: 400px;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(0, 122, 0);
    grid-area: portrait;
    place-self: center;
    opacity: 0;
}

nav {
    grid-area: navigation;
    width: fit-content;
    place-self: center;
    margin: 75px 0;
    display: flex;
    flex-direction: column;
    place-items: center;
}

nav h2 {
    position: relative;
    align-self: flex-start;
    left: -20px;
    top: 20px;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    padding: 30px;
    font-size: 40px;
}

nav>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: rgb(138, 138, 138) 1px solid;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-container a {
    width: 60%;
}

.projects-container a:nth-child(2n-1) {
    align-self: flex-end;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: rgba(39, 39, 39, 0.637);
    border-radius: 15px;
    display: grid;
    min-height: 150px;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "image language title" "image description description";
    transition: transform 100ms ease-in-out;
}

.project:hover {
    background-color: rgb(39, 39, 39);
    transform: scale(1.05) translateX(calc(0px - var(--project-transform)));
}

.projects-container a:nth-child(2n) .project:hover {
    transform: scale(1.05) translateX(var(--project-transform));
}

.projects-container a:nth-child(2n) .project {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "title language image" "description description image";
}

.project>img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 10px;
    grid-area: image;
    border: 1px solid rgb(56, 56, 56);
}

.projects-container a:nth-child(2n-1) img {
    margin-left: 0;
    margin-right: 10px;
}

.project #title {
    grid-area: title;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projects-container a:nth-child(2n-1) .project #title {
    text-align: right;
}

.project #language {
    grid-area: language;
    text-align: right;
    color: rgb(165, 165, 165);
}

.projects-container a:nth-child(2n-1) .project #language {
    text-align: left;
}

.project #title, .project #language {
    padding: 0 15px 5px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.project #description {
    grid-area: description;
    margin: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: small;
}

footer a {
    color: #aaa;
}

footer a:hover {
    color: rgb(255, 255, 255);
}

.fade-in {
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

.slide-right {
    position: relative;
    animation: slide-right 500ms ease-in-out forwards;
}

@keyframes slide-right {
    from {
        left: 0px;
    }
    to {
        left: 300px;
    }
}

.slide-left {
    position: relative;
    animation: slide-left 500ms ease-in-out forwards;
}

@keyframes slide-left {
    from {
        right: 0px;
    }
    to {
        right: 300px;
    }
}

/* PC */
@media only screen and (max-width: 1899px) {
    .greet.big>span {
        font-size: 55px;
    }
}

/* TABLET */

@media only screen and (max-width: 1674px) {
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portrait, .greet {
        position: unset;
        margin-bottom: 70px;
    }
    .greet>span {
        font-size: 30px;
    }
    nav {
        margin: 0 0 50px 0;
    }
    .projects-container a {
        width: 75%;
    }
    .project>img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 1249px) {
    :root {
        --project-transform: 0px;
    }
    main {
        padding: 50px;
    }
    .projects-container a {
        width: 100%;
    }
}

/* MOBILE */

@media only screen and (max-width: 800px) {
    main {
        padding: 10px;
    }
    .landing {
        min-height: 100vh;
    }
    nav h2 {
        left: 0;
        font-size: 20px;
    }
    nav>ul>li {
        padding: 30px 20px;
        font-size: 30px;
    }
    .project {
        margin: 10px;
        padding: 10px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "image image" "title language" "description description" !important;
    }
    .project>img {
        margin: 15px !important;
        justify-self: center;
        max-width: calc(100% - 30px);
    }
    .project>#title {
        text-align: left !important;
    }
}
@media only screen and (max-width: 459px) {
    nav>ul {
        flex-direction: column;
    }
}